*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sono';
}

.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.header__container{
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.linkk{
    display: flex;
    align-items: center;
}


.header__description{
    margin-left: 30px;
}

.description1{
    font-size: 17px;
    line-height: 33px;
    color:#2A254B;
    margin-bottom: 25px;
}

.description2{
    line-height: 20px;
    color: #505977;
}

.button{
    margin-top: 196px;
}

.button a{
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px;
    color: #2A254B;
    transition: all 0.5s linear;
}

a:hover{
    background-color: #2A254B;
    color: #FFFFFF;
}

.hero__container{
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.block{
    display: flex;
    gap: 33px;
}

.card{
    padding: 48px;
    background-color: #F9F9F9;
}

.image{
    margin-bottom: 12px;
    background-color: #F9F9F9;
}

.sub{
    font-size: 13px;
    color: #2A254B;
    margin-bottom: 12px;
}

.card__description{
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    color: #2A254B;
}


.header__container{
   width: 1240px;
}

.hero__container{
   width: 1240px;
}

@media screen and (max-width: 1240px) {
    .header__container{
       max-width: 960px;
    }

    .header__description{
        width: 23%;
    }
}

@media screen and (max-width:992px) {
    .header__container{
        max-width: 720px;
    }

    .header__description{
        width: 30%;
    }
}

.hero__container{
    max-width: 1240px;
}

.card{
    width: 100%;
}

@media screen and (max-width:1240px) {
    .hero__container{
        max-width: 960px;
    }
    .card{
        width: 23%;
    }
}

@media screen and (max-width:992px){
      .hero__container{
       max-width: 720px;
      }

      .card{
        width: 30%;
      }
}

@media screen and (max-width:768){
    .hero__container{
        max-width: 540px;
    }
    .card{
        width: 48%;
    }
}

@media screen and (max-width:576px){
    .card{
        width: 100%;
    }
}